table thead a{
    color: inherit;
    text-decoration: none;
}
ul li a{
    text-decoration: none;
}

a{
  text-decoration: none;
}

.search-button {
  position:fixed; /* Đặt vị trí cố định */
  top: 120px; /* Vị trí đứng từ trên xuống */
  left: 10px; /* Vị trí đứng từ bên phải */
  z-index: 9999; /* Độ ưu tiên để đảm bảo phần tử này hiển thị trên các phần tử khác */
}

.image-container {
    width: 400px; /* Điều chỉnh chiều rộng ảnh theo ý muốn */
    height: auto; /* Giữ tỉ lệ khung ảnh gốc */
}
.rounded-open{
    /* border-top-left-radius: 20px; 
    border-bottom-left-radius: 20px;  */
    border-radius: 15px ; 
    overflow: hidden; /* Loại bỏ phần bị tràn nếu cần */
}
.rounded-image-open{
    border-top-left-radius: 15px; 
    border-bottom-left-radius: 15px; 
    /* border-radius: 20px ;  */
    overflow: hidden; /* Loại bỏ phần bị tràn nếu cần */
}
.bg-rentalcard {
    background-color: #383448;
}
.bg-rentalcard-in{
    background-color: #1f1b2d;
}

/* word-pack */
.word-lg{
  font-size: large;
}
.word-xlg{
  font-size:x-large;
}
.word-bg{
  color: #1f1b2d;
}

.word-black{
  color: #1f1b2d;
}
.word-black:hover{
  color: #ff6600;
}

.word-ash{
    color: #c7cad1;
}
.word-ash-normal{
    color: #c7cad1;
}

.word-white{
  color: azure;
}

.t-a-r{
  text-align: right;
}
.t-a-l{
  text-align: left;
}
.word-ash:hover{
    color: azure;
}
.word-rental-money{
    color: #fa5531;
}
.word-green{
  color: #31fa34;
}
.word-red{
  color: #ff0000;
}
.word-info{
  color: #31c1fa;
}
/* end word pack */
/* open image pack */
.object {
  /* width: 550px;
  height: 300px; */
  width: 100%;
  height: 252px;
}
.object-slide {
  /* width: 550px;
  height: 300px; */
  width: 100%;
  height: 400px;
}

.cover{
  /* object-fit: cover; */
  object-fit:cover;
}
.object1 {
  width: 450px;
  height: 450px;
}
.object2 {
  width: 450px;
  height: 250px;
}
.cover1{
  object-fit: cover;
}
.container-flex{
    position: relative;
    width: 100%;
  }
.image {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}
.imagecccd {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    /* text-align: center; */
  }
  .bottom {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    /* text-align: center; */
  }
  .toptop {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 15%;
    left: 85%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    /* text-align: center; */
  }
  .topleft {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 15%;
    left: 15%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    /* text-align: center; */
  }

  .container-flex:hover .image {
    opacity: 0.3;
  }
  
  .container-flex:hover .middle {
    opacity: 1;
  }

  .container-flex:hover .bottom {
    opacity: 1;
  }

  .container-flex:hover .toptop {
    opacity: 1;
  }

  .container-flex:hover .topleft {
    opacity: 1;
  }
  
  .platinum{
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1cb5e0af, #000046ac); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    padding: 5px;
    border-radius: 10px;
  }
  .chuadangtin{
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1cb2e0, #003746);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1cafe0af, #003a46ac); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    padding: 5px;
    border-radius: 10px;
  }
  .saving{
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1ce06e, #004609);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #23e01caf, #064600ac); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    padding: 5px;
    border-radius: 10px;
  }

  .blood{
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e0391c, #460b00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e0331caf, #460e00ac); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    padding: 5px;
    border-radius: 10px;
  }

  .gold{
    background: #FF8008;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFC837, #FF8008);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffc637af, #ff7f08ab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: 5px;
    border-radius: 10px;
  }

  .silver{
    background: #8e9eab;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #eef2f3b0, #8e9eabab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
padding: 5px;
    border-radius: 10px;
  }
  .text {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }

  .text-bg {
    background-color: #383448;
    color: white;
    font-size: 16px;
    border-radius: 15px;
    padding: 16px 32px;
  }

  .text-bg-bar {
    background-color: #1f1b2d;
    color: white;
    font-size: 10px;
  }

  .text-search {
    background-color: #ec7037;
    color: white;
    font-size: 15px;
    padding: 7px 32px;
  }

  .back-green{
    background-color: #3fad0c ;
    color: white;
    font-size: 15px;
    padding: 7px 32px;
  }
  .back-green-custom{
    background-color: #3fad0c ;
    color: white;
    font-size: 15px;
    padding: 5px 12px;
  }
  .back-green:hover{
    background-color: #70ec37;
    color: white;
    font-size: 15px;
    padding: 7px 32px;
  }

  .back-orange{
    background-color: #ea4925 ;
    color: white;
    font-size: 15px;
    padding: 7px 32px;
  }
  .back-orange:hover{
    background-color: #ee6941;
    color: white;
    font-size: 15px;
    padding: 7px 32px;
  }
  
  .back-info{
    background-color: #25ddea ;
    color: white;
    font-size: 15px;
    padding: 7px 32px;
  }
  .back-info:hover{
    background-color: #41d7ee;
    color: white;
    font-size: 15px;
    padding: 7px 32px;
  }

  .text-search:hover {
    background-color: #ec5108;
    color: white;
    font-size: 15px;
    padding: 7px 32px;
  }

  .wrap {
    background-color: #1f1b2d;
    color: white;
    padding: 7px 22px;
  }
  

  .wrap:hover {
    background-color: #383448;
    color: white;
    padding: 7px 22px;
  }

  .top-left {
    position: absolute;
    top: 5px;
    left: 5px;
  }
  
  .top-left-bottom {
      position: absolute;
      top: 45px;
      left: 5px;
    }

    .rotated-image {
      transform: rotate(90deg);
    }


/* end image pack */

hr{
    color: #c7cad1;
}
@media (max-width: 800px) {
  .hidden-on-sm {
    display: none;
  }
}


label{
  color:azure;
}

/* open icon pack */
.heart-icon {
  background-color: #383448;
  color: white;
  border-radius: 10%;
  padding: 5px;
  font-size: 20px;
}
/* end icon pack */
/* ------------------------------------------------ */
/* star pack */
.rating {
  font-size: 24px; /* Điều chỉnh kích thước sao */
}

.star {
  color: gold; /* Màu của các sao đầy */
}

.star-half {
  color: gold; /* Màu của sao bán */
}
/* end star pack */

/* avatar pack */
.avatar {
  width: 70px; /* Điều chỉnh kích thước avatar theo ý muốn */
  height: 70px; /* Điều chỉnh kích thước avatar theo ý muốn */
  overflow: hidden; 
  object-fit: cover; /* Hiển thị hình ảnh sao cho nó bao phủ toàn bộ vùng hiển thị */
  object-position: center center; /* Đặt tấm hình ảnh tập trung vào trung tâm *//* Đảm bảo hình ảnh không vượt ra ngoài khung hình */
  border-radius: 50%; /* Làm tròn viền hình ảnh thành hình tròn */
}

.avatar img {
  width: 150%;
  height: auto;
  display: block; 
}

.avatar-image-sm {
  width: 50px; /* Điều chỉnh kích thước của hình ảnh */
  height: 50px; /* Điều chỉnh kích thước của hình ảnh */
  object-fit: cover; /* Hiển thị hình ảnh sao cho nó bao phủ toàn bộ vùng hiển thị */
  object-position: center center; /* Đặt tấm hình ảnh tập trung vào trung tâm */
  border-radius: 50%; /* Tạo hình tròn */
}
.avatar-image-xl {
  width: 200px; /* Điều chỉnh kích thước của hình ảnh */
  height: 200px; /* Điều chỉnh kích thước của hình ảnh */
  object-fit: cover; /* Hiển thị hình ảnh sao cho nó bao phủ toàn bộ vùng hiển thị */
  object-position: center center; /* Đặt tấm hình ảnh tập trung vào trung tâm */
  border-radius: 50%; /* Tạo hình tròn */
}

.avatar-image {
  width: 70px; /* Điều chỉnh kích thước của hình ảnh */
  height: 70px; /* Điều chỉnh kích thước của hình ảnh */
  object-fit: cover; /* Hiển thị hình ảnh sao cho nó bao phủ toàn bộ vùng hiển thị */
  object-position: center center; /* Đặt tấm hình ảnh tập trung vào trung tâm */
  border-radius: 50%; /* Tạo hình tròn */
}

/* end avatar pack */

/* form size */
.custom-input-1 {
  width: 300px;
}
/* end form size */

.checkbox-container {
  max-height: 200px; /* Đặt chiều cao tối đa cho phạm vi */
  overflow-y: auto; /* Hiển thị thanh cuộn dọc khi danh sách vượt quá kích thước */
  border: 1px solid #1f1b2d; /* Thêm viền cho phạm vi container (tùy chọn) */
}

/* Định dạng checkbox và nhãn (tùy chọn) */
.checkbox-container input[type="checkbox"] {
  margin: 5px 0;
}

/* Định dạng label của checkbox (tùy chọn) */
.checkbox-container label {
  display: block;
}

.custom-scrollbar {
  max-height: 200px;
  overflow-y: auto;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px; /* Độ rộng của thanh cuộn */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #383448; /* Màu nền của thanh cuộn */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #fa5531; /* Màu của nút cuộn */
  border-radius: 5px; /* Bo góc của nút cuộn */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Màu của nút cuộn khi di chuột qua */
}

select {
  background-image:
    linear-gradient(180deg, transparent 50%, azure 60%),
    linear-gradient(180deg, azure 40%, transparent 50%) !important;
  background-position:
    calc(100% - 30px) 14px,
    calc(100% - 20px) 14px,
    100% 0;
  background-size:
    10px 10px,
    10px 10px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.mid{
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-group-append {
  cursor: pointer;
}
